.padd{
        padding-left:30px;
        padding-right:30px;
      
}
.mar{
margin-bottom: 0px;


}

.footer{
      
        padding: 1rem;
        position: relative;
        width: 100%;
       /* 
        position: absolute;
        bottom: 0;
      
       /* height: 150px;*/
      
     }  

     .nav{
             
          
     }
