.logo{
    float: left;
    margin-right: 8px;
    }
    .logo-text{
     padding-top: 15px;
     
    }

    .btn {
        display: block;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
        min-width: 100px;
        background-color: lightgrey;
        cursor: pointer;
    }
