// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
@import "footer";
@import "header";

//new

    body {
        font-family: "Varela Round", sans-serif;
        margin: 0;
       /* padding: 0;*/
        height: 100%;
        background: radial-gradient(#57bfc7, #45a6b3);
    }
