/* html ,body{ max-height: 200vh;
    overflow: auto;
     }*/

body {
  /*width: 100%;*/
  height: 100%;
  /* max-height: 200vh;*/
  overflow: auto;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(#57bfc7, #45a6b3);
}

/*    
body {
min-height:100vh; 
position:relative; 

}
.footerr { 
position: absolute; 
left: 0 ; right: 0; bottom: 0; 
height:150px;
}*/

.footer {
  position: relative;
  padding: 1rem;
  width: 100%;
}

.card {
  margin: 10px;
  width: 90%;
  min-height: 50%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*height: 100%;*/
  width: 100%;
  /*  max-height: 200vh;*/
  /* width: 100%;*/
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* height: 100vh;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*align-items:center;*/
  /*
      justify-content:center;
       flex-wrap: nowrap;*/
  /*flex-wrap:nowrap;*/
}

.content {
  /* height:100vh;*/
  /* max-width:100vh;*/
  /* overflow:auto;
    width: 100%;*/
  height: 10%;
  padding: 20px;
  /*text-align: center
        text-align: center;
        */
  text-align: right;
}

/*
.mg{
margin: 10vh;
}*/

